# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*
!backend/.env.example

.agents

.github

# VS Code
.vscode/

# Docker
**/postgres-data/
*.log
*.dump

# Migrations cache
**/migrations/**/__pycache__/

# Coverage / testing
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
