# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# VS Code
.vscode/

# Docker
**/postgres-data/
*.log

# Migrations cache
**/migrations/**/__pycache__/

# Coverage / testing
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db