DEBUG=True
SECRET_KEY=change-this-key

# Django hosts/origins
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# PostgreSQL
POSTGRES_DB=creapp_db
POSTGRES_USER=creapp_admin
POSTGRES_PASSWORD=change-this-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
